body {
    font-family: 'Montserrat', sans-serif;
}

p{
    margin: 0;
}

.wrapper {
    width: 100%;
    max-width: 1420px;
    padding: 20px 20px 0 20px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.color {
    color:#000000; 
}

.p-width {
    font-size: 28px;
    font-weight: 600;
}

.d-justy {
    justify-content: space-between;
}

.text-right{
    width: 525px;
    font-weight: 400;
    line-height: 29px;
}

.block{
    background: #FFFFFF;
    padding:20px 20px;
    border-radius: 20px;
    width: 25%;
}

.color1{
    color:#207FF1;
    font-weight: 600;
    font-size: 54px;
}

.text2{
    color:#000000;
    font-weight: 600;
    font-size: 18px;
}

.gap{
    gap: 30px;
}

.padding-30{
    padding: 60px;
}

.padding-40{
    padding-top: 5px;
    padding-bottom: 20px;   
}

.p-width1{
    font-size: 15px;  
}

.padding-sochi{
    padding-top: 120px;
    padding-bottom: 127px;
}